
/* slide.js */

.slide img {
  max-width: 100%;
  max-height: 673px;
  width: 100%;
  margin: 0px;
}

.slick-next {
  right: 0px;
  z-index: 999;
}
.slick-prev {
  left: 0px;
  z-index: 999;
}


/* Nav.js */

.navbar{
  padding : 0 1em 0 1em
}
.mr-0{
  margin-left: auto!important;
}

/*intro.js*/



/*footer.js*/

footer{
  height: 200px;
  background-color: #83dadd;
  text-align: right;
}

