@font-face {
  font-family: "NotoSansKRRegualr";

  src: url(./font/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "NotoSansKRBold";

  src: url(./font/NotoSansKR-Black.otf);
}
html,
body {
  font-family: NotoSansKRRegualr;
  font-style: normal;
  padding-top: 1.731em;
}
.nav-link {
  cursor: pointer;
}
.navbar-brand img {
  width: 3.385em;
}
.link {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bold {
  font-family: NotoSansKRBold;
}
/* slide.js */
.slide {
  position: relative;
}
.slide .slide-img {
  object-fit: cover;
  height: 28em;
}
.slide img {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin: 0px;
}
.slick-next {
  right: 1.76em;
  z-index: 999;
}
.slick-prev {
  left: 0.962em;
  z-index: 999;
}
.slick-prev,
.slick-next {
  font-size: 15px !important;
}
.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
.introuce {
  height: 100%;
  width: 100%;
  background-color: #00000080;
  padding: 8.7em 6.087em 0 6.13em;
  z-index: 1;
}
.introuce h1 {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
  word-break: break-all;
}
.introuce p {
  font-size: 0.739em;
}
/* Nav.js */
.navbar-expand-md .navbar-nav .nav-link {
  padding: 0;
  font-size: 0.625em;
}
.navbar {
  padding: 0.35em 6.13em 0 6.087em;
}
.nav-item {
  width: 2.583em;
  text-align: center;
  margin: 0.833em;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-expand-md .navbar-nav > li > a {
  border-bottom: #ffffff solid 3px;
}
.navbar-expand-md .navbar-nav > li > a:hover {
  font-family: NotoSansKRBold;
  color: black !important;
  border-bottom: #00bfb6 solid 3px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.mr-0 {
  margin-left: auto !important;
}

/*intro.js*/
.header {
  font-style: normal;
}
.vision {
  margin-top: 2.533em;
  margin-bottom: 2.592em;
}
.vision_icon img {
  width: 5.542em;
}
.vision_icon p {
  margin-top: 1.083em;
}
.vision_border {
  position: relative;
}
.vision_border:after {
  content: "";
  background: #dbdbdb;
  position: absolute;
  bottom: 1.458em;
  left: 0;
  height: 75%;
  width: 1px;
}
.product {
  margin: 4.625em 0 0 0;
}
.list li {
  list-style-type: "-";
  padding: 0 0 0.7em 0.208em;
  width: 100%;
}
.youtube {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.row-cols-md-5 > * {
  padding-bottom: 1.2em;
}
.Service_btn {
  width: 7.5em;
  height: 7.5em;
  margin: auto;
  margin-bottom: 1.2em;
}
.Service_btn:hover .orange {
  background-color: #e5bd89;
}
.Service_btn:hover .green {
  background-color: #a6c6c1;
}
.Service_btn:hover .red {
  background-color: #bf7e7a;
}
.Service_btn img {
  width: 70%;
}
.circle {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
  width: 7.5em;
  height: 7.5em;
  position: absolute;
  z-index: 2;
}
.back_circle {
  border-radius: 50%;
  background-color: #a6c6c1;
  width: 7.5em;
  height: 7.5em;
  position: absolute;
  margin-left: 0.417em;
}
.bg_orange {
  background-color: #e5bd89;
}
.bg_green {
  background-color: #a6c6c1;
}
.bg_red {
  background-color: #bf7e7a;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.image-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.image-logo {
  position: absolute;
}
.image-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 1.33em;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  vertical-align: bottom;
}

.image-caption h1 {
  text-align: left;
  font-size: 0.917em;
  color: #ffffff;
}

.image-caption p {
  text-align: left;
  font-size: 0.708em;
  color: #fff;
}

.image-container:hover .image-caption {
  opacity: 1;
}
.Service_btn:hover img {
  filter: brightness(5);
}
.Service-box {
  margin-top: 2.875em;
}
.Service_btn img {
  width: 3.708em;
}
.Service-box .col {
  position: relative;
  width: 24.167em;
  height: 18.958em;
}
.image-logo img {
  width: 9em;
}
.Service-box .S-box-line-one {
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.Service-box .S-box-line-two {
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.Service-box .S-box-line-three {
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
.Service-box .S-box-line-four {
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.Cooper-box {
  position: relative;
  text-align: center;
}
.cooper-icon {
  width: 6.917em;
  height: 6.917em;
  position: absolute;
  transform: translateX(50%) translateY(-50%);
}
.cooper-icon img,
.cooper-icon p {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  width: 1em;
  line-height: 1em;
  font-size: 3.154em;
  margin: 0;
  font-family: NotoSansKRBold;
  text-align: center;
  z-index: 2;
}
.cooper-bg {
  border-radius: 50%;
  background-color: #d3cccf;
  width: 100%;
  height: 100%;
  position: absolute;
}
.cooper-bg-hover {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.cooper-icon:hover .cooper-bg-hover {
  opacity: 1;
}

.cooper-text-upper {
  position: absolute;
  top: -40px;
}
.cooper-text-lower {
  position: absolute;
  bottom: -40px;
}

.cooper-line {
  width: 60%;
  margin: 5em;
  height: 10em;
  position: relative;
  border: solid 0.417em #d3cccf;

  cursor: pointer;
}
.contact-box img:first-child {
  width: 5.5em;
  margin: auto;
}
.contact-box img:last-child {
  margin: auto;
}
.contact-icon {
  height: 6.083em;
}
.contact-icon img:last-child {
  width: 5.5em;
  display: none;
}
.contact-icon:hover img:last-child {
  display: block;
  cursor: pointer;
}
.contact-icon:hover img:first-child {
  display: none;
}
/*footer.js*/

footer {
  height: 9.5em;
  background-color: #95d7d9;
  text-align: right;
  margin-top: 5.625em;
  padding: 2.779em 5.883em 2.288em 0;
}
footer h3 {
  margin: 0;
  font-family: NotoSansKRBold;
}

@media (max-width: 769px) {
  html {
    font-size: 12px !important;
  }
  .fa-2x {
    font-size: 1em;
  }
  .introuce {
    padding: 5.7em 4.087em 0 4.13em;
  }
  .Service_btn {
    width: 3.5em;
    height: 4.61em;
  }
  .Service_btn img {
    width: 70%;
  }
  .circle,
  .back_circle {
    width: 3.5em;
    height: 3.5em;
  }
  .slide .slide-img {
    height: 19.5em;
  }
  .navbar {
    padding: 0.35em 1em 0 0;
  }
}

@media (min-width: 770px) and (max-width: 1200px) {
  html {
    font-size: 18px !important;
  }
  .slide .slide-img {
    height: 21.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  html {
    font-size: 24px;
  }
}
